/* Import Google Font */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: rgb(149, 165, 166);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Lato;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

[id=all-contents] {
    max-width: 875px;
    margin: auto;
}

/* Navigation Menu */

nav {
    background: rgb(52, 73, 94);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 20px/20px;
}

nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}

nav ul {
    list-style-image: none;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


/* Main Container */

main {
    background: rgb(245, 238, 219);
    display: flex;
}

[class=sidebar] {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    padding: 1px;
}

[class=sidebar] img {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-top: 20px;
    border: 5px solid #34495E;
    border-radius: 25px;
    width: 200px;
}

[class=content] {
    flex: 1;
    padding: 6px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 2px;
    padding: 5px;
}

p {
    font-size: 15px;
    text-align: center;
    margin: 5px;
    padding: 0px;
}

[class=interests] header {
    font-size: 1.25em;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

li {
    text-align: auto;
}

/* Portfolio Stylings */

#portfolio {
    list-style-type: none;
    padding: 35px;
}

#portfolio li {
    background: #fff;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 10px;
    border-width: medium;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a{
    text-decoration: none;
    color: #2d2d2d;
}
