@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    background: rgb(149, 165, 166);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Lato;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

[id=all-contents] {
    max-width: 800px;
    margin: auto;
}


/* navigation menu */

nav {
    background: rgb(52, 73, 94);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 20px/20px;
}

nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}

nav ul {
    list-style-image: none;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


/* main container area beneath menu */

main {
    background: rgb(245, 238, 219);
    display: flex;
}

[class=sidebar] {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 1px;
}

[class=sidebar] img {
    border: 5px solid #34495E;
    border-radius: 25px;
    width: 200px;
}

[class=content] {
    flex: 1;
    padding: 15px;
}

[class=interests] header {
    font-size: 1.25em;
}

h3 {
    text-align: center;
}

li {
    text-align: auto;
}



/* Social Media Buttons */

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover {
    /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    /* round google plus icon*/
    background: #e64522;
}

.social .fa-github:hover {
    /* round github icon*/
    background: #343434;
}